.main_home{
  .main_left{
    .logo{
      height 91px
      //background #333
      border-radius 6px
      margin 16px
      background url("/src/assets/images/unis_logo.svg") no-repeat
    }
  }
  .main_header{
    .header_user{
      float right
      font-size 16px
      .icon-logout{
        margin-left 10px
        cursor pointer
      }
    }
  }
}