.Login{
  height 100%
  display flex
  justify-content center
  align-items center
  flex-direction column
  flex 1
  .logo{
    background url("../../assets/images/unis_logo.svg") no-repeat
    width 220px
    height 140px
  }
  .login_content{
    width 300px
    h1{
      text-align center
    }
    .input_area{
      margin-top 10px
    }
  }
}