.user_content{
  .button_content {
    margin 10px 10px 10px 10px
    padding-left 10px
    color #999
    border-bottom 1px solid #e3e3e3
    font-weight 400
  }
  .list_title{
    margin 16px
  }
  .table_content{
    margin 0 20px
    margin-top 20px
  }
}